.row-item {
  align-items: center;
}
.item {
  margin-top: 20px;
  padding: 10;
}
.title {
  background: #2A88BC;
  color: #fff;
  margin: 0px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link {
  color: #fff;
}
.delete {
  color: #2A88BC;
  position: absolute;
  top: 4px;
  right: 8px;
}
.add {
  color: #2A88BC;
  position: absolute;
  right: 0px;
}
.edit {
  color: #2A88BC;
  position: absolute;
  top: 4px;
  right: 35px;
}
.select-box {
  border: 2px solid #2A88BC;
  background: #fff;
  color: #2A88BC;
  border-radius: 10px;
  position: absolute;
  width: 170px;
  height: 40px;
  right: 62px;
}
.select {
  position: relative;
  margin-bottom: 40px;
}
.image {
  text-align: center;
  border: 3px solid #2A88BC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
