.modal-confirm {
  background: #FCFFDE;
  border-radius: 10px;
}

.custom-header {
  border-color: red;
  color: #2A88BC;
}

.custom-footer {
  border: none;
  color: #2A88BC;
}

.custom-body {
  color: #2A88BC;
}
