<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
</head>
<body>
  <div class="container">
    <div class="main-login main-center">
      <h1 align="center">INSAL</h1>
      <h4 align="center">User Sign In</h4>
      <form action="/login" method="post" class="form-login">
        <!-- EMAIL  -->
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span id="input-group" class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email"/>
            </div>
          </div>
        </div>
        <!-- PASSWORD  -->
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span id="input-group" class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your password"/>
            </div>
          </div>
        </div>
        <div class="row" align="center">
          <a style="color: #ffffff; font-size: 15px;" href="/signup">Create new account</a>
        </div>
        <div class="form-group">
          <button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
