<div class="content">
  <div class="select">
    <%= select_tag 'category', options_for_select(@categories.collect{ |u| [u.name, u.id] }, params[:id]),class: "select-box"%>
    <i class="fa fa-plus-circle fa-3x add"></i>
  </div>
<div id="show">
 <%= render "form", products: @products %>
</div>
</div>
