<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Categories</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="index.html"><i class="fa fa-circle-o"></i> Dress</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Suit</a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Trousers</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Bills</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
          </span>
        </a>
      </li>
      <li class="header">INSIGHTS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Products</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Bills</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Finance</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
